.headerRegister{
	background: #007bff;
	color: #fff;
}
.headerUpdate{
	background: #17a2b8; 
	color: #fff;
}
.redondeado {
       /* redondea los bordes del campo */
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        -moz-box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.3);
      }
input.error {
        background-color: #E2E8EB;
        border: 1px solid red;
        border-radius: 11px;
        outline: 20px;
      }   